[package]
name = "pumpkin-world"
version.workspace = true
edition.workspace = true
rust-version = "1.89"

[dependencies]
pumpkin-nbt = { path = "../pumpkin-nbt" }
pumpkin-util = { path = "../pumpkin-util" }
pumpkin-config = { path = "../pumpkin-config" }
pumpkin-data = { path = "../pumpkin-data" }

futures.workspace = true

bytes.workspace = true

tokio = { workspace = true, features = [
    "macros",
    "rt-multi-thread",
    "sync",
    "io-std",
    "signal",
    "fs",
    "io-util",
    "time",
] }
uuid.workspace = true
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true
log.workspace = true
crossbeam.workspace = true

num-derive = "0.4"
sha2 = "0.10"
bitflags = "2.10.0"

dashmap = "6.1"

num-traits = "0.2"

# Compression
flate2 = "1.1"
lz4-java-wrc = "0.2.0"
ruzstd = "0.8.2"

itertools = "0.14.0"
enum_dispatch = "0.3"

thread_local = "1.1.9"
lru = "0.16.2"

tokio-util = { version = "0.7.17", features = ["rt"] }
rand = "=0.10.0-rc.5"
num_cpus = "1.17.0"
rustc-hash = "2.1.1"
slotmap = "1.1"
crossfire = "2.1.8"

[dev-dependencies]
criterion = { version = "0.8", default-features = false, features = ["html_reports", "async_tokio"] }
temp-dir = "0.1.16"
# Print log info inside tests when needed
env_logger = "0.11.8"
# Allows us to modify the config
pumpkin-config = { path = "../pumpkin-config", features = ["test_helper"] }
# Deserialize NaN and Inf
serde_json5 = "0.2.1"

[[bench]]
name = "chunk"
harness = false

#[[bench]]
#name = "chunk_io"
#harness = false
#
#[[bench]]
#name = "chunk_gen"
#harness = false

[[bench]]
name = "noise_router"
harness = false

[features]
tokio_taskdump = []
